footer.footer {
  background-color: #eeeeee;

  display: flex;
  align-items: center;
  align-content: center;
  padding: 30px 0;

  & .links {
    color: #999999;
    text-align: center;
    word-wrap: break-word;

    & a {
      color: #999999;
      font-weight: bold;
      padding: 0 10px;
      transition-duration: 0.3s;

      &:hover {
        color: #de5a4b;
      }
    }
  }
}
