section {
  background-color: #fff;
  height: 300px;
  padding: 20px;
  margin: 30px auto;
  box-shadow: 0 3px 2px 0 #cccccc;

  @media (min-width: 48em) {
    width: 620px;
  }

  & .title {
    color: #cccccc;
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;

    & h3 {
      font-size: 18px;
      padding-left: 20px;
      margin-bottom: 10px;
    }
  }

  & .content {
    padding: 20px;
  }
}

#main {
  background-color: #eeeeee;

  & > .container {
    &::before, &::after {
      content: '';
      display: table;
    }
  }
}
