section
  width: auto
  height: 50vh
  margin-left: auto
  margin-right: auto
  margin-top: 30px

  +susy-breakpoint($width-small, 12)
    width: 620px
  .title
    color: #cccccc
    text-transform: uppercase
    border-bottom: 1px solid #eeeeee
    h3
      font-size: 18px
      padding-left: 20px
      margin-bottom: 10px