doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js(ng-app='myApp')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Cesar's Profile
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,200italic,400italic' rel='stylesheet' type='text/css')
    link(href='stylesheets/vendor/normalize.css', rel='stylesheet')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')  
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-2.1.1.min.js"><\\/script>')
    script(src='js/lib/angular.min.js')
    
  body
    //if lt IE 7
      p.browsehappy
        | You are using an 
        strong outdated
        |  browser. Please 
        a(href='http://browsehappy.com/') upgrade your browser
        |  to improve your experience.
    // Add your site or application content here
    include views/includes/navbar.jade
    include views/profile.jade
    include views/includes/footer.jade